@import url(https://fonts.googleapis.com/css?family=Raleway);

            body,
            html {
                height: 100%;
                background-image: url("https://twimg0-a.akamaihd.net/a/1350072692/t1/img/front_page/jp-mountain@2x.jpg");
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                line-height: 1.2;
                margin: 0;
                padding: 0;
                font-weight: bolder;
                font-style: oblique;
            }

            .weatherContainer {
              font-family: 'Open Sans';
              font-weight: 400;
              font-size: 14px;
              color: #323232;
              width: 1000px;
              height: auto;
              margin: 10% auto;
              padding: 10px;
              background-color: #c5c5c5;
              border: 1px solid #f5f5f5;
              border-radius: 15px;
              -webkit-box-shadow:  0px 0px 10px 0px #f5f5f5;
              box-shadow:  0px 0px 10px 0px #f5f5f5;

            }

            .weatherBlock {
              font-family: 'Open Sans';
              font-weight: 400;
              font-size: 14px;
              color: #323232;
              width: 900px;
              height: auto;
              margin: 10% auto;
              padding: 10px;
              background-color: rgba(0,0,0,.1);
              border: 1px solid #f5f5f5;
              border-radius: 15px;
              -webkit-box-shadow:  0px 0px 10px 0px #f5f5f5;
              box-shadow:  0px 0px 10px 0px #f5f5f5;

              text-align: center;
            }
            
            
          .clearfix::after {
            content: "";
            clear: both;
            display: table;
          }
            .weatherRow {
              width: 100%;
              border-bottom: 1px solid #a7a7a7;
              padding-bottom: 10px;
              margin-bottom: 20px;
            }
            .weatherCol {
              float: left;
            }
            
            .weatherDay {
                width: 20%;
            }
            .weatherTextSpan {
              width: 40%;
              padding-top: 40px;
            }
            .weatherImg {
                width: 20%;
                padding-top: 15px;
            }
            .weatherPlus {
                width: 20%;
                  content: '\002B';
                  padding-top: 20px;
            }
            .weatherPlusImg {
              height: 32px;
              width: 32px;
            }
            
            .roundedDay {
              padding: 20px; 
              width: 65px;
              height: 75px;
              text-transform: uppercase;
              font-style: normal;
              color: #3f51b5;
              font-weight: bold;
              font-size: 16px;
            }

            .input{
              height: 4em;
              width: 25%;
              margin-right: 15px;
              font-size: 14px;
              border-radius: 10px;
              padding: 10px;
            }

            .btn {
                background-color: #f48f42;
                color: #fff;
                font-family: 'Roboto Slab';
                font-weight: 100;
                text-transform: uppercase;
                box-shadow: 0 5px 15px rgba(145, 92, 182, .2);
                margin-bottom: 60px;
                margin-top: 30px;
                height: 4em;
                border-radius: 10%;
            }

            .btn:hover {
                background-color: #422e1f;
                box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
            }

            .styled {
              border: 0;
              width: 100%;
              height: 500px;
              line-height: 2.5px;
              padding: 0 20px;
              font-size: 1rem;
              text-align: center;
              color: #fff;
              text-shadow: 1px 1px 1px #000;
              border-radius: 10px;
              background-color: rgba(233, 219, 19, 0.6);
              background-image: linear-gradient(to top left,
                                                   rgba(0, 0, 0, .2),
                                                   rgba(0, 0, 0, .2) 30%,
                                                   rgba(0, 0, 0, 0));
              box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                             inset -2px -2px 3px rgba(0, 0, 0, .6);
              }

              .styled:hover {
              background-color: rgba(233, 219, 19, 0.6);
              }

              .styled:active {
              box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                   inset 2px 2px 3px rgba(0, 0, 0, .6);
              }



h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
}




/* const FormStyles = styled.form`
  margin-left: 22%;
  font-size: 1vw;
  display: flex;
  flex-direction: row;
`

const FormInputStyles = styled.input`
  width: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding-top: 12px;
  font-size: 1.15em;
  padding-bottom: 12px;
`

const SelectInputStyles = styled.select`
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  width: 50%;
  border: 1px solid transparent;
  padding-top: 12px;
  font-size: 1.15em;
  padding-bottom: 12px;
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  background-position: 97% center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: white;
`

const FormButtonStyles = styled.button`
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  width: 50%;
  text-align: center;
  font-size: 1.15em;
  cursor: pointer;
  transition: all 0.2s;
}
  &:hover ${FormButtonStyles}{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background: #d73851;
   border: 1px solid #d73851;
} */
